.box-parent{
    width: 460px;
    background-color: aqua;
    display: flex;
    position: relative;

}

.box-1{
    flex-grow: 1;
    width: 200px;
    background-color: blueviolet;
    position: absolute;
}

.box-2{
    text-align: center;
    color: white;
    width: 200px;
    background-color: rgb(17, 16, 18);
    position: absolute;
}
