.box-parent{
    background-color: lemonchiffon;
    height: 400px;
    width: 600px;
    position: relative;
}

.box-1,.box-2{
    width: 100px;
    height: 80px;
    position: absolute;

}

.box-1{
    background-color: aqua;
    top: 10px;
    
}

.box-2{
    background-color: blue;
}