.container{
    /* width: 1000px; */
    margin: 0 auto;
}

.row {
    display: flex;
    border: 1px solid blue;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item{
    background-color: tomato;
    padding: 30px;
    margin: 10px;
    flex-basis: auto;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

/* .item:nth-child(2n+1){
    font-size: 40px;
} */

.item:nth-child(1){
    flex-basis: 200px;
}
.item:nth-child(2){
    flex-basis: 200px;
}
