.container{
    width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    border: 1px solid blue;
    min-height: 400px;
}

.item{
    background-color: aqua;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 20px 30px;
    border: 1px s;
}