a{
    text-decoration: none;
    /* width: 50px;
    height: 50px; */
    background-color: aquamarine;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 80px;
    display: inline;
    text-align: center;
}