.wrapper{
    width: 960px;
    margin: 0 auto;
}

.box {
    width: 100px;
    padding: 20px;
    background-color: aqua;
    margin: 5px;
}

.container{
    display: flex;
    /* flex-direction: row; */
    flex-direction: row-reverse;


        background-color: azure;
}