.container{
    width: 960px;
    margin: 0 auto;
}

.block{
    width: 300px;
    height: 300px;
    margin: 30px auto;
    background-color: tomato;
    color: bisque;
    font-size: 30px;
    text-align: center;
    transform: rotate(30deg);
}

.wrapper:hover .block{
    
}