.container{
    width: 960px;
    margin: 0 auto;
}

.block{
    width: 300px;
    height: 300px;
    margin: 30px auto;
    background-color: tomato;
    color: bisque;
    font-size: 30px;
    text-align: center;
   
}

.wrapper:hover .block{
    transform: translateX(-300px)
}

.wrapper{
    width: 500px;
    height: 500px;
    margin: 40px;
    border: 1px solid red;
}