.container {
    display: flex;
    max-width: 640px;
    height: auto;
    padding: 20px;
    background-color: #eee;
    flex-direction: row;
}

.item {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    background-color: #ffa400;
}

.item:first-of-type {
    /* flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 2; */
    flex: 1 1 300px;
    background-color: #07a787;
}

.item:last-of-type {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    po
}