.box-parent{
    width: 40px;
    background-color: aqua;
    height: 50px;
    transition: all 0.5s;
    

}


.box-parent:hover{
    transform: rotate(360deg);
    transform: scale(2,2);
    flex

}
