.boxed{
    width: 5rem;
    height: 5rem;
    background-color: red;
    position: absolute;
    top: 10px
}

.wrap{
    width: 50%;
    height: 50rem;
    background-color: black;
    position: relative;
    margin: 0 auto;
}