.box {
    width: 80%;
    height: 120px;
    background-color: #333;
    position: relative;
}

.box-child {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top:10px;
    left:10px;
    bottom: 10px;
    right: 10px;
}

.box2 {
    width: 300px;
    height: 100px;
    background-color: violet;
    position: relative;
}

.header{
    width: ;
}