#wrapper{
    width:960px;
    margin: 0 auto;
    background-color: bisque;
}

.box {
    width: 400px;
    min-height: 200px;
    /* max-height: 100px; */
    background-image: url('https://media.vneconomy.vn/w800/images/upload/2022/07/11/gettyimages-1207206237.jpg');
    background-size: contain;
    background-repeat: ;
}