#wrapper{
    width:960px;
    margin: 0 auto;
    height: 3000px;
}



body {
    background-image: url('https://media.vneconomy.vn/w800/images/upload/2022/07/11/gettyimages-1207206237.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}