.box {
    width: 100%;
    height: 120px;
    background-color: #333;
    position: relative;
}

.box-child {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}