$primary-color: red;

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}



.header {
    // &: nối từ
    &-top{
        color: $primary-color;
        &:hover{
            color:orange
        }
    }

    &-content{
        font-size: 5rem;
    }
}

// .boxed{
//     width: 10rem;
//     height: 10rem;
//     background-color: coral;
// }
// hàm mixin: 1 đoạn code được sử dụng đi sử dụng lại để làm mục đích gì đó ( giúp tiết kiệm thời gian hơn )

@mixin size($width,$height) {
    width: $width;
    height: $height;
}

.boxed{
    // include: muốn sử dụng hàm 
    @include size(10rem,20rem);
    background-color: red;
}